# Android build artifacts
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

# Kotlin
*.class
.kotlin/

# NDK
obj/

# OS files
.DS_Store
Thumbs.db
