<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openclaw.assistant">
    <application android:label="Mate">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".AssistantService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true">
            <meta-data android:name="android.voice_interaction"
                android:resource="@xml/assistant_info" />
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        
        <service android:name=".AssistantSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true" />

        <service android:name=".AssistantRecognitionService"
            android:exported="true" />
    </application>
</manifest>
